.services {
    
}

.action {
    float: right;
}

.serviceCard {
    height: 100%;
}

.card {
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.addButton {
    position: fixed;
    bottom: 25px;
    right: 25px;
}


.appBar {
    width: 100%;
}

.drawerPaper {
    position: relative;
    height: 100%;
    min-width: 400;
}    

.list {
    width: 40%;
    flex: initial;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.listFull { 
    width: auto;
    flex: initial;
}

.buttonSpacing {
    margin-right: 24px;
}

.createServiceBar {
    /* padding-top: 70px; */
}

.containerPortFormInput {
    width: 100px;
}

.advancedSettingsContainer {
    width: 100%;
    margin-top: 2em;
}

.settingsPanelOpen {
    padding: 1em;
}

.advancedSettingsExpansionPanel {
    width: 100%;
}

.advancedSettingTitle {

}

.probeForm {
    margin-left: 1em;
    margin-right: 1em;
}

.addHeaderButton {
    margin-bottom: 2em;
}

.healthProbe {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2);
    padding: 1em;
    margin-bottom: 1em;
}

.removeProbeButton {
}

.addRuleBtn {
    padding-left: 35px;
}


.drawerBody {
    flex-grow: 1;
    margin-top: 10px;
}

.grid {
    width: 100%;
    margin: 0px;
    padding: 24px;
}

.serviceViewHighlighted {
    background-color: red;
}

.serviceView:hover {
    background-color: #e5efff;
}

.portsNum {
    border-radius: 4px;
    padding: 5px;
}

.serviceCount {
    margin-right: 10px;
    width: 30px;
}

.commandDisplay{
    width: 100%;
}

.tablePaper {
    overflow: auto;
}


.textFieldInput {
  position:relative;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #ced4da;
  font-size: 16px;
  padding: 12px 12px;
  width: calc(100% - 24px);
}

.textFieldRoot {
  position:relative;
  padding: 0px;
  margin-top: 0px !important;
}

.textFieldFormLabel {
    font-size: 18px;
}

.searchInput {
  position: relative;
  top: -4px;
}

.searchInput > label {
  display: none;
}