.root {

}

.flex {
  flex: 1;
}

.appBar {
}

.suggestion{ 
  z-index: 100;
  border-radius: 0px;
}

.suggestion:hover{
  background-color: lightsteelblue;
}


.showNone {
  visibility: hidden;
  display: none;
}