.root {

}

.center {
    text-align: center;
}

.flex {
  flex: 1;
}

.appBar {

}

.suggestions { 
  position: absolute;
  z-index: 100;
  border-radius: 0px;
  width: 100%;
  top: 35px;
}

.suggestion { 
  border-inline-end: 1px solid #ced4da;
  border-inline-start: 1px solid #ced4da;
}

.suggestion > li {
  padding: 10px 12px;
}

.suggestion:hover{
  background-color: lightsteelblue;
}


.showNone {
  visibility: hidden;
  display: none;
}

.connectionHeader {
    position: absolute;
    bottom: 0px;
}

.searchInput {
  position: absolute;
  top: -4px;
}

.searchInput > label {
  display: none;
}

.textFieldInput {
  position:relative;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #ced4da;
  font-size: 16px;
  padding: 10px 12px;
  width: calc(100% - 24px);
}

.textFieldRoot {
  position:relative;
  padding: 0px;
  margin-top: 0px !important;
}

.textFieldFormLabel {
    font-size: 18px;
}
