.root {
  flex-grow: 1,
}

.top {
  z-index: 100;
}

.center {
  z-index: 1;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.children {
  width: calc(100% - 282px);
  top: 64px;
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 16px 16px;
  overflow: scroll;
}

.currentEnv {
 width: 150px;
}