.root {
  flex-grow: 1,
}

.top {
  z-index: 100;
}

.topEnvNav {
  z-index: 2;
  margin-bottom: 30px;
}

.center {
  z-index: 3;
  margin: auto;
  margin-top: 30px;
}

.error-center {
  z-index: 3;
  margin: auto;
  text-align: center;
}

.children {
  width: calc(100% - 282px);
  top: 5px;
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 16px 16px;
  overflow: scroll;
  margin-top: 55px;
}

.currentEnv {
 width: 150px;
}
