.root {

}


.codeSnippet {
	max-width: 100%;
	background-color: #eeeeee;
	padding: 10px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
	overflow-wrap: break-word;
}

.progress {
	text-align: center;
}

.featureCommitMsg {
	font-size: 15px;
	font-weight: 500;
}

.featureAuthor {
	font-weight: 100;
}

.feature {
	margin-top: -1px;
	cursor: pointer;
}

.hide {
	visibility: hidden;
	display: none;
}

.deployBtn {
	float: right;
}

.fullFeature {
	z-index: 1;
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	height: 140px;
	position: relative;
}