.root {

}

.progress {
	text-align: center;
}

.featureCommitMsg {
	font-size: 15px;
	font-weight: 500;
}

.featureAuthor {
	font-weight: 100;
	font-size: 12px;
}

.featureTitle {
	margin-top: 20px;
}

.feature {
	margin-top: -1px;
	cursor: pointer;
}

.hide {
	visibility: hidden;
	display: none;
}

.deployBtn {
	float: right;
}

.fullFeature {
	z-index: 1;
	margin-left: -8px;
	margin-right: -8px;
	cursor: pointer;
	height: 80px;
	position: relative;
}

.innerWaiting {
    display:inline-block;
    margin-right: 5px;
    background-color: yellow;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseWaiting 2s linear 1s infinite; */
}

.innerWaiting p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: yellow;
    text-shadow: 0 0 4px yellow;
}

.innerFailed {
    display:inline-block;
    margin-right: 5px;
    background-color:red;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseFailed 2s linear 1s infinite; */
}

.innerFailed p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: #ea4c89;
    text-shadow: 0 0 4px #ea4c89;
}

.innerComplete {
    display:inline-block;
    margin-right: 5px;
    background-color:green;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseComplete 2s linear 1s infinite; */
}

.innerComplete p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: green;
    text-shadow: 0 0 4px green;
}
