.releaseExtensionStatus {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.releaseExtensionCardView {
    padding: 10px;
}

.drawer {
    width: 40%;
}

.extensionReleaseView {
    padding: 20px;
}

.createServiceBar {
}

.releaseViewIcon {
    width: 30px;
    height: 30px;
}


.drawerBody {
    flex-grow: 1;
    margin-top: 10px;
}

.grid {
    padding: 25px;
}


.codeSnippet {
    max-width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    overflow-wrap: break-word;
}

.progress {
    text-align: center;
}

.featureCommitMsg {
    font-size: 15px;
    font-weight: 500;
}

.featureAuthor {
    font-weight: 100;
}

.feature {
    cursor: pointer;
}

.hide {
    visibility: hidden;
    display: none;
}

.deployBtn {
    float: right;
}

.fullFeature {
    z-index: 1;
    margin-left: -3px;
    margin-right: -8px;
    cursor: pointer;
    height: 140px;
    position: relative;
}

.title {
    text-align: center;
}

.tableWrapper {
    width: 100%;
}

.root {
    overflow: auto;
}

/* @-webkit-keyframes pulseWaiting {
    0% { box-shadow:0 0 8px yellow, inset 0 0 8px yellow; }
    50% { box-shadow:0 0 16px yellow, inset 0 0 14px yellow; }
    100% { box-shadow:0 0 8px yellow, inset 0 0 8px yellow; }
} */
  
.innerWaiting {
    display:inline-block;
    margin-right: 5px;
    background-color: yellow;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseWaiting 2s linear 1s infinite; */
}

.innerWaiting p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: yellow;
    text-shadow: 0 0 4px yellow;
}

.innerNotStarted {
    display:inline-block;
    margin-right: 5px;
    background-color:gainsboro;
    width:15px;
    border: 1px solid #70705c;
    height:15px;
    border-radius:50px;
}

.innerNotStarted p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: gray;
    text-shadow: 0 0 4px gray;
}

/* @-webkit-keyframes pulseFailed {
    0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
    50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
    100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
} */

.innerFailed {
    display:inline-block;
    margin-right: 5px;
    background-color:red;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseFailed 2s linear 1s infinite; */
}

.innerFailed p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: #ea4c89;
    text-shadow: 0 0 4px #ea4c89;
}

/* @-webkit-keyframes pulseComplete {
    0% { box-shadow:0 0 8px green, inset 0 0 8px green; }
    50% { box-shadow:0 0 16px green, inset 0 0 14px green; }
    100% { box-shadow:0 0 8px green, inset 0 0 8px green; }
} */

.innerComplete {
    display:inline-block;
    margin-right: 5px;
    background-color:green;
    width:15px;
    height:15px;
    border: 1px solid #70705c;
    border-radius:50px;
    /* -webkit-animation: pulseComplete 2s linear 1s infinite; */
}

.innerComplete p {
    display:inline-block;
    text-align: center;
    line-height: 100px;
    font-family:sans-serif;
    font-weight:100;
    font-size:24px;
    color: green;
    text-shadow: 0 0 4px green;
}

.statusLights {
    margin-top: 5px;
}

.drawerButton {
  margin-right: 10px;
}

.activeRelease {
  background-color: #2196f3;
  color: white;
}
