.root {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  user-select: none;
  padding-bottom: 10px;
}

.project {
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: 500;
  user-select: none;
}

.caption {
  font-size: 20px;
  font-weight: 100;
}

.button {
  margin: 10px;
}
