.root {
  width: '100%';
}

.li {
  color: red;
}

.paper {
  padding: 16px 16px;
}

.info {
  margin-top: 25px;
}

.bigNumber {
  font-size: 4.5vw;
  color: white;
  user-select: none;
  text-shadow: 2px 2px 2px #444444;
}

.title {
  color: #faf1f1;
  font-weight: 500;
  user-select: none;
  text-shadow: 2px 2px 2px #444444;
}

.bookmarks {
  width: '100%';
  margin-top: 25px;
}

.bookmarkLink:link {
  user-select: none;
}

.bookmarkLink:visited {
  user-select: none;
}

.bookmarkLink:hover {
  user-select: none;
}

.bookmarkLink:active {
  user-select: none;
}

.bookmarkedProjectsEmpty {
  user-select: none;
  text-align: center;
  font-weight: 500;
  font-size: 23;
  color: gray;
}

.bookmarkedProject:hover {
  background-color: rgba(33, 150, 243, 0.12);
  user-select: none;
}

.bookmarkedProjectGlyph {
  float: left;
  padding-right: 10px;
  color: rgba(0,0,0,0.54);
}

.projectsCard{
  background-color: #1bc98e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featuresCard{
  background-color: #9f86ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.releasesCard{
  background-color: #e64759;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.usersCard{
  background-color: #e4d836;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.innerWaiting {
  display:inline-block;
  margin-right: 5px;
  background-color: yellow;
  width:15px;
  height:15px;
  border: 1px solid #70705c;
  border-radius:50px;
  /* -webkit-animation: pulseWaiting 2s linear 1s infinite; */
}

.innerWaiting p {
  display:inline-block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: yellow;
  text-shadow: 0 0 4px yellow;
}

.innerFailed {
  display:inline-block;
  margin-right: 5px;
  background-color:red;
  width:15px;
  height:15px;
  border: 1px solid #70705c;
  border-radius:50px;
  /* -webkit-animation: pulseFailed 2s linear 1s infinite; */
}

.innerFailed p {
  display:inline-block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: #ea4c89;
  text-shadow: 0 0 4px #ea4c89;
}

.innerComplete {
  display:inline-block;
  margin-right: 5px;
  background-color:green;
  width:15px;
  height:15px;
  border: 1px solid #70705c;
  border-radius:50px;
  /* -webkit-animation: pulseComplete 2s linear 1s infinite; */
}

.innerComplete p {
  display:inline-block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: green;
  text-shadow: 0 0 4px green;
}
