.serviceSpecView:hover {
    background-color: #e5efff;
}

.drawer {
    width: 40%;
}

.createServiceBar {
}

.extensionTitle {
}

.extensionIcon {

}


.drawerBody {
    flex-grow: 1;
    margin-top: 10px;
}

.details {
	align-items: 'center';
	flex-direction: column;
}

.actions {
	align-items: 'flex-end';
	flex-direction: row;
	margin-right: 25px;
}

.configActions {
	flex-direction: row;
	align: center;
}

.detailsItem {
	flex-direction: column;
	margin: 5px;
}


.grid {
    width: 100%;
    margin: 0px;
    padding: 24px;
}

.buttonSpacing {
    margin-right: 24px;
}

.createNewExtensionPanel {
	margin-bottom: 15px;
}

.sectionDivider {
	margin-top: 5px;
	margin-bottom: 5px;
}